# Checks that are run on every commit to main and every pull request.
name: Checks

on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read

jobs:
  check_package:
    name: packages/${{ matrix.package }}
    runs-on: macos-latest
    strategy:
      matrix:
        package: [google_fonts, dynamic_color] # Unmaintained / unreleased: adaptive_breakpoints, adaptive_navigation, adaptive_components, symbols]
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Install Flutter
        uses: subosito/flutter-action@2783a3f08e1baf891508463f8c6653c258246225 # v2.12.0
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'

      - name: Get packages
        run: flutter pub get
        working-directory: packages/${{ matrix.package }}

      - name: Analyze Dart code
        run: flutter analyze
        working-directory: packages/${{ matrix.package }}

      - name: Ensure Dart code is formatted correctly
        run: dart format --set-exit-if-changed .
        working-directory: packages/${{ matrix.package }}

      - name: Run Flutter unit tests
        run: flutter test
        working-directory: packages/${{ matrix.package }}
