# Checks that are run on every commit to main and every pull request.
name: Checks

on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read

jobs:
  check_package:
    name: ${{ matrix.package }} using Flutter ${{ matrix.flutter-channel }}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        package: [google_fonts, dynamic_color] # Unmaintained / unreleased: adaptive_breakpoints, adaptive_navigation, adaptive_components, symbols]
        flutter-channel: [stable, beta]
    steps:
      - name: Checkout code
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - name: Install Flutter
        uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1 # v2.16.0
        with:
          channel: ${{ matrix.flutter-channel }}
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'

      - name: Get packages
        run: flutter pub get
        working-directory: packages/${{ matrix.package }}

      - name: Analyze Dart code
        run: flutter analyze
        working-directory: packages/${{ matrix.package }}

      - name: Ensure Dart code is formatted correctly
        run: dart format --set-exit-if-changed .
        working-directory: packages/${{ matrix.package }}

      - name: Run Flutter unit tests
        run: flutter test
        working-directory: packages/${{ matrix.package }}
