name: Checks
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read

jobs:
  check_package:
    name: packages/${{ matrix.package }}
    runs-on: macos-latest
    strategy:
      matrix:
        package: [google_fonts, dynamic_color, adaptive_breakpoints, adaptive_navigation, adaptive_components, symbols]
    steps:
      - name: Checkout code
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: Install Flutter
        uses: subosito/flutter-action@dbf1fa04f4d2e52c33185153d06cdb5443aa189d # v2.8.0
        with:
          channel: 'beta'
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'

      - name: Get packages
        run: flutter pub get
        working-directory: packages/${{ matrix.package }}

      - name: Analyze Dart code
        run: flutter analyze
        working-directory: packages/${{ matrix.package }}

      - name: Ensure Dart code is formatted correctly
        run: dart format --set-exit-if-changed .
        working-directory: packages/${{ matrix.package }}

      - name: Run Flutter unit tests
        run: flutter test
        working-directory: packages/${{ matrix.package }}
