# Builds and deploys example web apps for each of the packages to GitHub Pages
name: Deploy examples to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - 'packages/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Determine which packages have example apps
  find-example-apps:
    runs-on: ubuntu-latest
    outputs:
      example-apps: ${{ steps.find-example-apps.outputs.example-apps }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - run: man ls
      - name: Find example apps
        id: find-example-apps
        # Outputs a JSON list of packages with example apps, e.g. ["dynamic_color", "google_fonts"]
        run: |
          echo "::set-output name=example-apps::$(ls -d */example | xargs dirname | jq -R -s -c 'split("\n")[:-1]')"
        working-directory: packages

  # Build example web apps job
  build:
    needs: find-example-apps
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        package: ${{ fromJson(needs.find-example-apps.outputs.example-apps) }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: subosito/flutter-action@f2c4f6686ca8e8d6e6d0f28410eeef506ed66aff # v2.18.0
        with:
          channel: 'stable'

      - name: Build Flutter web app
        run: flutter build web -v --release --output /tmp/${{ matrix.package }} --base-href /${{ github.event.repository.name }}/${{ matrix.package }}/
        working-directory: packages/${{ matrix.package }}/example

      - name: Upload web build temporarily
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: ${{ matrix.package }}
          path: /tmp/${{ matrix.package }}
          retention-days: 1

  # Upload pages artifact to pages job
  upload-to-pages:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all web builds
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: '.'

  # Deploy job
  deploy-pages:
    needs: upload-to-pages
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
