name: Publish to pub.dev

on:
  push:
    tags:
    # must align with the tag-pattern configured on pub.dev
    - '*-[0-9]+.[0-9]+.[0-9]+*'

# Publish using the reusable workflow from dart-lang.
jobs:
  publish:
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
    with:
      # Specify the github actions deployment environment
      environment: pub.dev
      working-directory: path/to/package/within/repository
